@use 'variables' as *;

// Typography
h1 {
  font-size: 56px;
}

h2 {
  font-size: $base-font-size * 2;
}

h3 {
  font-size: $base-font-size * 1.5;
}
.hover_clr {
  &:hover {
    color: $clr-accent;
  }
}

mark {
  color: $clr-accent;
  background-color: transparent;
}

.text_body {
  font-size: clamp(1rem, 1.5vw, 1.25rem);
}
