//colors
$clr-primary: #030c0f;
$clr-secondary: #3b3e44;
$clr-accent: #f0bf6c;
$clr-surface-primary: #030c0f;
$clr-surface-secondary: #061115;

// Fonts
$base-font-family: 'Inter', sans-serif;
$base-font-size: 16px;

// Globals
$base-line-height: 1.5;
$base-padding: 1rem;
$base-margin: 1rem;
$base-border-radius: 0.5rem;
